.vs/branch-practice/FileContentIndex/34143c64-01b0-4a62-af04-21f4955d6223.vsidx
.vs/slnx.sqlite
.vs/
.vs/branch-practice/FileContentIndex/0703efe4-d3f1-411d-81cc-9f6f93f5d861.vsidx
*.json
*.db
*.json
*.db
.vs/branch-practice/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/branch-practice/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/branch-practice/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/branch-practice/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/branch-practice/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/branch-practice/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/branch-practice/v17/.wsuo
.vs/branch-practice/v17/DocumentLayout.json
.vs/slnx.sqlite
